@use "../sass/mixin" as mixin;

h1{
    font-size: 80px;
    display: flex;
    justify-content: center;
    margin-top: 23px;
    // text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00;
    text-shadow: 0 0 10px  #00DDEB ,  0 0 20px #00DDEB, 0 0 30px #00DDEB  ;
    
}
h2{
    font-size: 20px;
    font-weight: bold;
    // text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00;
    text-shadow: 0 0 10px  #00DDEB ,  0 0 20px #00DDEB, 0 0 30px #00DDEB  ;
}
.container2{
//    width: 100vh;
    p{
        width: 80%;
        font-size: 18px;
    }
   
}
.container3{
    margin-top: 5%;
    p{
        width: 50%;
    }
    li{
        list-style: none;
        text-decoration: none;
    }
} 
.resume{
    p{
        width: 80%;
        margin: 0 auto;
        
        
    }
}
.container2Mobile{
    p{
        width: 50%;
    }
}
 .styleNone{
    li{
        list-style: none;
        text-decoration: none;
        position: absolute;
        z-index: 1;
        // cursor: pointer;
        
        
    }
    a{
        text-decoration: none;
        color: white;
        font-weight: bold;
        cursor: pointer;
    // transition: 0.2s opacity;
    &:hover {
    //   transition: 0.2s opacity;
      text-shadow: 0 0 10px  #00DDEB ,  0 0 20px #00DDEB, 0 0 30px #00DDEB  ;
     
    //   opacity: 0.8;
      
    }
    }
 }

 .custom2{
    width: 60%;
    margin: 40px auto;
    border: 1px solid ;
    box-shadow: 0 0 5px #00DDEB, 0 0 6px #5B42F3, 0 0 7px #00DDEB, 0 0 8px #5B42F3, 0 0 9px #00DDEB;
 }


     
@include mixin.md-lt {
    h1{
        font-size: 25px;
    }
    h2{
        font-size: 16px;
        margin-top: 10px;
    }
    span{
        font-size: 14px;
        
        width: 70%;
    }
     .size{
        p{
            font-size: 14px;
        }
     }

     .custom{
        width: 60%;
        margin: 0 auto;
        border: 1px solid ;
        box-shadow: 0 0 5px #00DDEB, 0 0 6px #5B42F3, 0 0 7px #00DDEB, 0 0 8px #5B42F3, 0 0 9px #00DDEB;
     }
    
    .container2{
       gap: 20px;
       display: flex;
       flex-direction: column-reverse;
    //    text-align: center;
    //    justify-content: center;

        span{
            font-size: 14px;
            
        }
         p{
            //  width: 90%;
             font-size: 14px;
         }
         h2{
            font-size: 18px;
            
        }
        
     } 

 
    
   .container1Mobile{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
h2{
    font-size: 18px;
    margin-top: 10px;
}
p{
    font-size: 14px;
    width: 80%;
}
br{
    display: none;
}
   }

   .container3Mobile{
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    gap: 20px;
h2{
    font-size: 18px;
    margin-top: 10px;
}
p{
    font-size: 14px;
    width: 80%;
}
br{
    display: none;
}
   } 
}    