@use "../sass/mixin" as mixin;

.appContainer {
    min-height: 80vh;
   width: 100%;
   form{
    width: 30%;
   }
  }
  
  .feedback {
    color: red;
    font-size: 18px;
    font-weight: 600;
  }
  
  .feedbackGood {
    color: green;
    font-size: 18px;
    font-weight: 600;
  }

  .logo{
    width: 50px;
    height: 25px;
    margin-bottom: 20px;
  }
  
  input {
    width: 25vw;
    height: 40px;
    border-radius: 20px;
    margin: 10px;
  }

  .card {
    border-radius: 20px;
    background-color: var(--light-grey);
    // margin-bottom: 100px;
    
  }

  .width{
    width: 25vw;
  }

  @include mixin.md-lt{
    .button{
        display: block;
    }
    label{
      font-size: 14px;
    }
    .appContainer{
      form{
        width: 60%;
       }
    }
    input{
      width: 35vh;
    }
   
  }

  @include mixin.xs{
    input{
      width: 20vh;
    }
  }