@use "../../sass/mixin" as mixin;

.navbar{
    
        a{
            
        text-decoration: none;
        text-align: center;
           }
    
    button{
        position: absolute;
       z-index: 1;
       
    }
    button:nth-child(1){
       left: 73%;
       bottom: 21%;
    //    display: flex;
    //    align-items: center;
    //    a{
    //     color: #AF40FF;
    // text-decoration: none;
    // text-align: center;
    //    }

    }
    button:nth-child(2){
        right: 6%;
        bottom: 21%; 
        // display: flex;
        // align-items: center;
    //     a{
    //      color: #AF40FF;
    //  text-decoration: none;
    //  text-align: center;
    //     }
     }
    i{
        cursor: pointer;
    }
    background-color: var(--light-grey);
    position: relative;
    border-radius: 50px;
    width: 90%;
    height: 70px;
    margin:25px  auto 0 ;
    &:before{
        content: "";
        position: absolute;
        z-index: 1;
        inset: 0;
        border-radius: 50px; 
        padding: 5px; 
        background:linear-gradient(to right, #AF40FF, #5B42F3, #00DDEB ); 
        -webkit-mask: 
           linear-gradient(#fff 0 0) content-box, 
           linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
                mask-composite: exclude; 
               
    }  
}

.logo{
    width: 50px;
    height: 25px;
    position: absolute;
       z-index: 1;
       transform: translateX(-50%);
    
}
 .logo2{
    width: 25px;
    height: 25px;
    position: absolute;
       z-index: 1;
       right: 21%; 
       bottom: 32%;
 }

 .logo3{
    width: 25px;
    height: 25px;
    position: absolute;
       z-index: 1;
       right: 27%; 
       bottom: 32%;
 }


.burger{
    display: none;
}

.neon {   
    ul{
        text-decoration: none;
        display: block;
    }
    li{
        font-size: 16px;
        font-weight: bold;
       display: block;
       color: #fff;
       position: absolute;
       z-index: 1;
       transform: translateX(-50%);
       text-decoration: none;    
    }
    img:nth-child(1) {
        left:8%;
        top:30%
      }
    li:nth-child(2) {
        left: 20%;
       
      }
    
      li:nth-child(3) {
        left: 32%;
       
      }
    
      li:nth-child(4) {
        left: 41%;
      }
    
      li:nth-child(5) {
        left: 51%;
      }
      li:nth-child(6) {
        left: 64%;
      }
}
.button{
    color: #AF40FF;
    text-decoration: none;
    text-align: center;
    
    
}
.button2{
    color: #AF40FF;
    text-decoration: none;
    right: 6%;
        bottom: 21%; 
        display: flex;
        align-items: center;
    //     a{
    //      color: #AF40FF;
    //  text-decoration: none;
    //  text-align: center;
    //     }
    
}
.none{
    text-decoration: none;
    color: #fff;
    
}
@include mixin.header {
    .button{
        display: none;
    }
    .button2{
        display: none;
    }
    .neon{
        li{
            display: none;
        }
        img:nth-child(1){
            left: 15%;
        }
    }
    
    .navbar{
        width: 80%;
       
    }
    
    .burger{
        display: block;
        position: absolute;
        z-index: 1;
        right: 7%;
        
    }
    .burger2{
        display: block;
        position: absolute;
        z-index: 3;
        
    }
    button{
        display: none;
    }
    .logo3{
        right: 37%;   
    }

  } 

  @include mixin.xs {
    .container{
        p{
            font-size: 14px;
        }
    }
    h5{
        font-size: 14px;
    }
    .logo3{
        width: 20px;
        height: 20px;
        position: absolute;
           z-index: 1;
           right: 37%; 
           bottom: 36%;
     }
     .logo{
        width: 35px;
        height: 25px;
        
     }

}




