@use "../../sass/mixin" as mixin;

.projet{
    p{
        margin-left: 5px;
    }
    h3{
        color: white;
    }
    border-radius: 20px;
    // height: 460px;
    min-width: 225px;
    cursor: pointer;
    .imgContainer{
        overflow: hidden;
        max-width: 250px;
        img{
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
           aspect-ratio: 1;
            width: 100%;
            height: 100%;
            transition: 1s transform;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
   
    .title{
        // height: 50px;
        border : 1px solid var(--gray-2);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        p{
            font-size: 14px;
        }
        h3{
            font-size: 16px;
        }
        @include mixin.xs{
                p{
                    font-size: 10px;
                }
                h3{
                    font-size: 14px;
                }
        }
    }
    .text-error{
        color: var(--error);
    }
    .test{
        color: aqua;
    }

    .title :not(i) {
        transition: .2s color;
        &:hover{
            color: var(--error);
        }
    }
}