.card{
    border-radius: 20px;
    background-color: var(--light-grey);
    width: 80%;
    margin:50px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    
  }
  
  th {
    background-color: var(--light-grey); // Fond blanc pour la ligne d'en-tête
    padding: 10px;
    text-align: center;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #e0e0e0; // Bordure légère gris clair
    text-align: center;
  }
  
  tr:nth-child(even) {
    background-color: var(--light-grey); // Fond gris clair pour les lignes paires
  }
  
  tr:nth-child(odd) {
    background-color: var(--light-grey); // Fond blanc pour les lignes impaires
  }
  
//   img {
//     min-width: 100px; // Taille maximale pour les images
//     min-height: 100px;
//   }
  
  input[type="checkbox"] {
    margin: 0;
    width: 20px; // Réinitialiser la marge du bouton de validation
  }