@use "../../sass/mixin" as mixin;


.cards{
    background-color: var(--light-grey);
    width: 80vw;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 20px;
}

.gestion{
    margin-top: 20px;
    width: 50%;
    margin: 0 auto;
    p{
        width: 150px;
    }
    // input{
    //     width: 33.3%;
    // }
}

.gestion2{
    margin-top: 50px;
}



  @include mixin.md-lt{
    // .button{
    //     display: block;
    // }
    label{
      font-size: 14px;
    }
    input{
      width: 80%;
    }
    img{
        width: 50%;
    }
    // button{
    //     display: block;
    // }
   
  }

  @include mixin.xs {
    h3{
        font-size: 12px;
    }
    .contributeur{
        justify-content: center;
        align-items: center;
        text-align: center;
        h2{
            font-size: 12px;
        }
    }
    .delete{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        h3{
            font-size: 14px;
            padding-bottom: 10px;
        }
    }
    
    .avatar{
        display: none;
    }
    .container{
        p{
            font-size: 14px;
        }
    }
    h5{
        font-size: 14px;
    }
    .column{
        
        flex-direction: column;
        margin-top: 5px;
        button{
            margin-top: 5px;
        }
    }

}
@include mixin.md-lt {
    .avatar{
        display: none;
    }
}
    
